@model HourlyWeatherViewModel

<div class="grid-layout">
    <div class="flex-column-container border container-info-color">
        @{
            for (var i = 0; i < Model.Time.Count(); i++)
            {
                var hour = Model.Time[i].ToString("t");

                var image = $"images/{JsonFileUtils.IconName(Model.WeatherCode[i])}";

                <details>
                    <summary>
                        <h4>@hour</h4>
                        <h5>@Html.DisplayFor(Model => Model.Temperature2m[i])°</h5>
                        <img src=@image alt="condition-icon">
                        <span>@Html.DisplayFor(Model => Model.PrecipitationProbability[i])%</span>
                    </summary>

                    <div class="grid-layout">
                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Umidade</span>
                            <span>@Html.DisplayFor(Model => Model.RelativeHumidity2m[i])%</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Possibilidade de chuva</span>
                            <span>@Html.DisplayFor(Model => Model.PrecipitationProbability[i])%</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Tempo</span>
                            <span>@Html.DisplayFor(Model => Model.WeatherCondition[i])</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Velocidade do vento</span>
                            <span>@Html.DisplayFor(Model => Model.WindSpeed80m[i])Km/h</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Direção do vento</span>
                            <span>@Html.DisplayFor(Model => Model.WindDirection80m[i])°</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Índice UV</span>
                            <span>@Html.DisplayFor(Model => Model.UvIndex[i]) de 11</span>
                        </div>
                    </div>
                </details>
            }
        }
    </div>
</div>