@model TodayWeatherViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="grid-layout">
    <!-- Current weather resume -->
    <div class="flex-column-container border">
        <h3 title="City">São Paulo, Brasil</h3>
        <span title="Condition">@Html.DisplayFor(Model => Model.Current.WeatherCode)</span>
        <span title="Temperature" style="font-size: 300%;">@Html.DisplayFor(Model => Model.Current.Temperature2m)°</span>
        <span title="Apparent Temperature">Sensação térmica @Html.DisplayFor(Model => Model.Current.ApparentTemperature)°</span>
    </div>

    <!-- Full today information -->
    <div class="border flex-column-container">
        <header>
            <h3>Clima para hoje</h3>
        </header>
        <div class="centralize">
            <div style="width: auto;" class="grid-layout">
                <div class="flex-row-container weather-list-item">
                    <span class="weather-list-properties">Máxima/Mínima</span>
                    <span>
                        @Html.DisplayFor(Model => Model.Temperature2mMax)°
                        /@Html.DisplayFor(Model => Model.Temperature2mMin)°
                    </span>
                </div>

                <div class="flex-row-container weather-list-item">
                    <span class="weather-list-properties">Nascer do Sol</span>
                    <span>@Html.DisplayFor(Model => Model.Sunrise)</span>
                </div>

                <div class="flex-row-container weather-list-item">
                    <span class="weather-list-properties">Pôr do sol</span>
                    <span>@Html.DisplayFor(Model => Model.Sunset)</span>
                </div>

                <div class="flex-row-container weather-list-item">
                    <span class="weather-list-properties">Índice máximo de UV</span>
                    <span>@Html.DisplayFor(Model => Model.UvIndexMax)</span>
                </div>

                <div class="flex-row-container weather-list-item">
                    <span class="weather-list-properties">Possibilidade de chuva</span>
                    <span>
                        @Html.DisplayFor(Model => Model.PrecipitationProbabilityMax)%
                        /@Html.DisplayFor(Model => Model.PrecipitationSum)mm
                    </span>
                </div>

                <div class="flex-row-container weather-list-item">
                    <span class="weather-list-properties">Velocidade do vento</span>
                    <span>@Html.DisplayFor(Model => Model.WindSpeed10mMax)Km/h</span>
                </div>

                <div class="flex-row-container weather-list-item">
                    <span class="weather-list-properties">Direção do vento</span>
                    <span>@Html.DisplayFor(Model => Model.WindDirection10mDominant)°</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Hourly -->
    <div class="flex-column-container grid-layout">
        @{
            for (var i = 0; i < Model.Hourly.Time.Count(); i++)
            {
                var hour = Model.Hourly.Time[i].ToString("t");

                <div class="flex-column-container border">
                    <h5>@hour</h5>
                    <h3>@Html.DisplayFor(Model => Model.Hourly.Temperature2m[i])°</h3>
                    <div class="grid-layout">
                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Umidade</span>
                            <span>@Html.DisplayFor(Model => Model.Hourly.RelativeHumidity2m[i])%</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Possibilidade de chuva</span>
                            <span>@Html.DisplayFor(Model => Model.Hourly.PrecipitationProbability[i])%</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Tempo</span>
                            <span>@Html.DisplayFor(Model => Model.Hourly.WeatherCode[i])</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Velocidade do vento</span>
                            <span>@Html.DisplayFor(Model => Model.Hourly.WindSpeed80m[i])Km/h</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Direção do vento</span>
                            <span>@Html.DisplayFor(Model => Model.Hourly.WindDirection80m[i])°</span>
                        </div>

                        <div class="flex-row-container weather-list-item">
                            <span class="weather-list-properties">Índice UV</span>
                            <span>@Html.DisplayFor(Model => Model.Hourly.UvIndex[i]) de 11</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>